@import "register.scss";
@import "dashboard.scss";
@import "user_profile.scss";

body{
    background-color:#3b3635;
    color: orange;
    height: 100%;
}
html{
    background-color:#3b3635;
    color: orange;
    height: 100%;
}