input {
  border-radius: 8px !important;
  &:active,&:focus{
    outline:0;
  }
}

.input {
  &__search {
    border-bottom: 1px solid #000;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px !important;
    background-color: transparent;
    padding-bottom: 5px;
    color: #000;
  }
}

input,
textarea,
button,
select,
.custom-radio-button,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.custom-radio-button {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #3b3635;
    border-radius: 50%;
    border: 2px solid $app-orange;
  }
  input:checked~.checkmark {
    background-color: $app-orange;
  }
  input:checked~.checkmark:after {
    display: block;
  }
  .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: transparent;
  }
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}