.slider {
  min-height: 370px;
  &__description {
    position: absolute;
    bottom: 0px;
    left: 0;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    text-transform: uppercase;
    font-size: 24px;
  }
  img {
    min-height: 490px;
    max-height: 490px;
    width:100%;
  }
}

.slider-control-centerright,
.slider-control-centerleft,
.slider-control-bottomcenter{
  button{
    display:none !important;
  }
}