.whole-user-screen{
    height: 100%;

    hr{
      width:100%;
      margin-bottom:10px;
    }
    .uk-margin{
        display: flex;
        background-color:orange;
        border-bottom: solid 2px black;
        margin: 0;
        min-height:50px;
        max-height:70px;
        box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 1);
    }
    .custom-sidebar{
      background-color:black;
      box-shadow:-3px 0 10px 0 orange;
      height: 100%;
      color:orange;
      width:35%;
      position:fixed;
      background-color:black;
      z-index: 200;
      margin:0;
      padding:0;
      margin-top:70px;
      transform: translateX(-100%);
      transition: transform 0.3s ease-out;

      .custom-edit-name:hover{
        box-shadow:-3px 0 10px 0 orange;
      }
      .custom-edit-avatar:hover{
        margin-right:0px;
        margin-left:0px;
        box-shadow:-3px 0 10px 0 orange;
      }
      .uk-vertical-align-middle{
        margin:0;
        .user-names{
            list-style-type:none;
            margin:0;
            padding:0;
            background-color:black;

            li{
              align-items: center;
              padding-right:0;
              margin-right:0;
              .my-profile-picture{
                border-radius:50%;
                margin:10px auto;
                padding:0;
                width:80px;
                height:80px;
            }
            }
          }
        .my-instruments{
            font-size:15px;
            font-weight: 1000;
            color:orange;
        }
        .custom-instrument-element{
          color:orange;
          vertical-align:middle;
          min-width: 80px;
          max-width: 100px;
          max-height:30px;
          min-height:25px;
          padding:0;
          margin:10px auto;
          font-weight:1000;
          font-size:15px;
          border-radius:15%;
          box-shadow:0 0 10px 0 orange;
          cursor:default;
        }
        .message-button{
          background-color: orange;
          color:black;
          min-width: 100px;
          max-width: 160px;
          font-size:10px;
          padding:0;
          margin:0;
          border:none;
          box-shadow:0 0 10px 0 orange;
        }
      }
      
    }
      .custom-sidebar.open{
        transform: translateX(0);
      }

    .uk-text-center{
      .custom-general{
        .detailed-user-info{
          margin:10px;
          border-radius: 15px;
          background-color: black;
          margin-bottom:20px;
          box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 1);
        textarea{
          color:orange;
          padding:10px;
          border:none;
          margin:0;
          resize: none;
        }
        h1{
          color:orange;
          font-weight:1000;
          font-size:20px;
          margin-bottom:10px;
        }
        .custom-edit:hover{
          box-shadow:-3px 0 10px 0 orange;
        }
      }
      
    }
  }
}

.detailed-user-info-small{
  width:65%;
  right:0;
  height:90%;
  position:fixed;
  overflow-y: scroll;
}
