

.whole-user-screen{
    height: 100%;
    hr{
      width:100%;
      margin-bottom:10px;
    }
    .uk-margin{
        display: flex;
        background-color:orange;
        border-bottom: solid 2px black;
        margin: 0;
        min-height:50px;
        max-height:70px;
        box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 1);
        .uk-navbar-left{
          margin-top:-10px;
        }
        .uk-logo{
        width: 75px;
        height: 75px;
        margin: 0;
        padding:0;
        }
        .uk-navbar-nav{
            font-weight: 1000;
            margin:0;
            padding:0;
            a{
              color:#3b3635;
              margin-top:5px;
            }
            a:hover{
              color:black;
            }
            
            .my-avatar{
                width: 50px;
                margin-right: 10px;
                height: 50px;
                min-height: 50px;
                border-radius:50%;
            }
            .my-notifications{
                width: 50px;
                height: 50px;
                margin-right: 10px;
                min-height: 50px;
                border-radius:50%;
                font-size:5px;
            }
        }
    }
    .uk-text-center{
        display: flex;
        height:100%;
        overflow-wrap: break-word;
        .my-padding-right{
            .detailed-user-info{
              margin:10px;
              padding:10px;
              border-radius: 15px;
              background-color: black;
              box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 1);

              h1{
                color:orange;
                font-weight:1000;
                font-size:20px;
                margin-bottom:10px;
              }
            }
        }
    }
}
.uk-offcanvas-container{
    .my-padding-right{
        width:65%;
        right: 0;
        position: fixed;
    }
}
.uk-offcanvas-slide{
    color:orange;
    top:70px;
    width:35%;
    margin:0;
    padding:0;
    background-color:black;
    box-shadow:-3px 0 10px 0 orange;
        .uk-vertical-align-middle{
            margin:0;
            padding:0;
            .user-names{
                list-style-type:none;
                margin:0;
                padding:0 0 0 0;
            }
            .my-profile-picture{
                border-radius:50%;
                margin-top:10px;
                margin-bottom:10px;
            }
            .my-instruments{
                font-size:20px;
                font-weight: 20px;
                color:orange;
            }
            .message-button{
                background-color: orange;
                color:black;
                min-width: 80px;
                max-width: 100px;
                font-size:10px;
                padding:0;
                margin:0;
                border:none;
                box-shadow:0 0 10px 0 orange;
            }
        }
    }